<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>svideo</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div id="app"><%= body %></div>
    <!-- <script src="/public/bundle.js"></script> -->
    <script src="node_modules/react/dist/react.js"></script>
    <script src="node_modules/react-dom/dist/react-dom.js"></script>
    <script>
        // React at its most basic level
      const myFirstComponent = function () {
        return React.createElement(
          "div",
          null,
          React.createElement("h1", null, "This is my first component")
        );
      };
      ReactDOM.render(
        React.createElement(myFirstComponent),
        document.getElementById("app")
      );
    </script>
  </body>
</html>
